<!DOCTYPE html>
<html>
<head>
    <title>Lista de Productos en Tiempo Real</title>
</head>
<body>
    <h1>Lista de Productos en Tiempo Real</h1>
    <ul id="product-list">
        {{#each products}}
        <li>
            <h2>{{title}}</h2>
            <p>{{description}}</p>
            <p>Precio: ${{price}}</p>
            <img src="{{thumbnail}}" alt="{{title}}">
        </li>
        {{/each}}
    </ul>
    
</body>
</html>